/*==========================================================================
Body / Header / Nav
=====================================================================*/
body{
	background-image: url("img/hotel_beach.jpg");
	background-size: 100%;
  font-size: 16px;
}

.row{
  margin: 0;
  width: 100%;
}

header{
  /*Why does padding-top here work to clear our white space above the header*/
  padding-top: 1%;
	background-color: rgba(0,0,0,.5);
}

nav{
  width: 90%;
  padding: 0;
  margin: auto;
}

/*============================================================================
List and Link styling
===========================================================================*/
a{
	text-decoration: none;
  color: #E2D15D;
  text-align: center;
}

li{
	display: inline;
  padding-left: 2%;
  padding-right: 2%;
}

li:hover{
  background-color: #050501;
}

a:hover{
  color: #E8B121;
}

/*Style both the menus a bit*/
#menuOne{
  color: white;
  font-size: 1.1em;
}

#menuTwo{
  color: #D2B848;
  font-size: 1.5em;
}

/*Target the submenus to display none and block on hover
We do it this way because on a website this scales to all the 
list items with submenus*/

ul > li > ul {
  position: absolute;
  display: none;
  width: inherit;
}

li:hover > ul {
  display: block;
}

/*============================================================================
Style Sub Menus static, and hover
========================================================================*/

/*The below code has a negative margin but a positive padding top
so I am able to jump from the accomodate hover to the sub menu hover.

Without these two attributes the hovering would be difficult because
the initial hover will deactivate on the movement of the mouse*/
.accUl{
  margin-top: -5px; 
  padding-top: 10px;
  position: absolute;
  list-style: none;
  font-size: 1rem;
  margin-left: 4%;
  padding-right: 4%;
}

.accLi{
  display: list-item;
  background-color: rgba(0,0,0,.5);
  list-style: none;
}

.accLi:hover{
  background-color: #D5BE46;
}

.accLi:hover > a{
  color: black;
}