/*==========================================================================
Body / Header / Nav
=====================================================================*/
body{
	background-image: url(images/hotel_beach.jpg);
	background-size: 100%;
  font-size: 16px;
}

header{
  /*Why does padding-top here work to clear our white space above the header*/
  padding-top: 1%;
	background-color: rgba(0,0,0,.5);
}

nav{
  width: 90%;
  padding: 0;
  margin: auto;
}
/*============================================================================
List and Link styling
===========================================================================*/
a{
	text-decoration: none;
  color: #E2D15D;
  text-align: center;
}

li{
	display: inline;
  padding-left: 2%;
  padding-right: 2%;
}

li:hover{
  background-color: #050501;
}

a:hover{
  color: #E8B121;
}
#menuOne{
  color: white;
  font-size: 1.1em;
}

#menuTwo{
  color: #D2B848;
  font-size: 1.5em;
}

li > ul {
  position: absolute;
  display: none;
  width: inherit;
}
li:hover > ul {
  display: block;
}

/*============================================================================
Style Sub Menus static, and hover
===========================================================================*/
#accUl{
  background-color: #090803;
  opacity: .9;
  list-style: none;
  font-size: 1rem;
  padding-top: 1%;
  margin-left: 4%;
  padding-right: 4%;
}

.accLi{
  display: list-item;
}

.accLi:hover{
  background-color: #D5BE46;
}
/*=====================================================================
Code Snippet Found Online
=======================================================================*/

/*body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}*/

/* Sub Menus */
/*.nav li li {
  font-size: .8em;
}*/

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/
/*
@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }
*/
  /* Sub Menus */
/*  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}